#t1{
    background-image: url(../assets/img/frontend_tools/html.png);

}
#t2{
    background-image: url(../assets/img/frontend_tools/css.png);

}
#t3{
    background-image: url(../assets/img/frontend_tools/js.png);

}
#t4{
    background-image: url(../assets/img/frontend_tools/ts.png);

}
#t5{
    background-image: url(../assets/img/frontend_tools/react.png);

}
#t6{
    background-image: url(../assets/img/frontend_tools/next.png);

}
#t7{
    background-image: url(../assets/img/frontend_tools/angular.png);

}

#tb1{
    background-image: url(../assets/img/backend_tools/java.png);

}

#tb2{
    background-image: url(../assets/img/backend_tools/js.png);

}

#tb3{
    background-image: url(../assets/img/backend_tools/python.png);

}

#tb4{
    background-image: url(../assets/img/backend_tools/ex.png);

}

#tb5{
    background-image: url(../assets/img/backend_tools/spring.png);

}

#tb6{
    background-image: url(../assets/img/backend_tools/dj.png);

}

#tb7{
    background-image: url(../assets/img/backend_tools/post.png);

}

#tm1{
    background-image: url(../assets/img/mobile/flutter.png);

}
#tm2{
    background-image: url(../assets/img/mobile/rn.png);

}
#tm3{
    background-image: url(../assets/img/mobile/swift.png);

}

#to1{
    background-image: url(../assets/img/other/fx.png);

}
#to2{
    background-image: url(../assets/img/other/figma.png);

}
#to3{
    background-image: url(../assets/img/other/aws.png);

}
#to4{
    background-image: url(../assets/img/other/tsf.png);

}
#to5{
    background-image: url(../assets/img/other/saas.png);

}
#to6{
    background-image: url(../assets/img/other/tutor.png);

}
#to7{
    background-image: url(../assets/img/other/medium.png);

}