@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-txt-color: rgb(49, 49, 49);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}
#site-logo {
  width: 100px;
  margin-left: 20px;
}
#site-logo-anchor {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-txt-color);
  text-decoration: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  width: 60%;
}
#nav-list {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.navi-link {
  text-decoration: none;
  color: var(--primary-txt-color);
}
.navi-link:hover{
    color:purple;
}
#hire-me-btn {
  width: 100px;
  height: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  background-color: var(--primary-txt-color);
}
#hire-me-btn > a {
  color: inherit;
  text-decoration: none;
}
#hire-me-btn:hover{
    background-color: white;
    color: black;
}
#navbar-toggle {
  display: none;
  cursor: pointer;
}
/* ------------------------------------------------------------ */

main{
    width: 100vw;
}
#home{
    width: 100%;
}
#my-info-box{
    margin-top: 100px;
    padding-left: 65px;
}
#hi-txt{
    font-size: 28px;
}
#name-txt{
    font-size: 38px;
    font-weight: bold;
}
#job-static-txt{
    font-size: 28px;
}
#job-dynamic-txt{
    font-size: 32px;
    font-weight: bold;
}
#based-in-txt{
    font-size: 22px;
}
#social-icons{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icon{
    width: 25%;
}
.social-icon >a{
    width: 100%;
    text-decoration: none;
}
.social-icon >a> i{
    font-size: 28px;
    color: black;
}
.social-icon >a> i:hover{
    cursor: pointer;
    color: purple;
}
#my-description{
    margin-top: 30px;
    font-size: 22px;
}
#my-pro-pic{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-pic-container{
    width: 60%;
    border-radius: 100%;
    border: 4px solid black;
}
#profile-pic{
    width: 100%;
    border-radius: 100%;
}
/* ------------------------------------------------------------ */

#aboutMe{
    width: 100%;
    margin-top: 150px;
}
#aboutMe-heading{
  text-align: center;
  margin-bottom: 20px;
}
#img-container-aboutMe{
  width: 100%;
  height: 300px;
  background-image: url(../assets/img/img2.jpg);
  background-repeat: no-repeat;	
  background-size: cover;
  background-position: center;

}
#aboutMe-txt{
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#edu_heading_txt{
    text-align: center;
    margin-top: 160px;
    margin-bottom: 40px;
}
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container-timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid black;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: black;
    color: white;
    position: relative;
    border-radius: 6px;
  }
  

/* ------------------------------------------------------------ */
#whatIDo{
  margin-top: 100px;
}
#what-i-do-heading{
  text-align: center;
}
.what-i-do-card-outer{
  border: 1px solid black;
  width: 100%;
  height: 450px;
  border-radius: 12px;
}
.what-i-do-card-inner{
  width: 100%;
  padding: 10px;
}
.what-i-do-card-top{
  background-color: white;
}

.what-i-do-card-heading{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.what-i-do-card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 12px;
}
.tool-card{
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tool-name{
  width: 100%;
  text-align: center;
}
.icon-container{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* ------------------------------------------ */

/* contact me section */


#contact-me{
  margin-top: 100px;
}
.contact-me-outer{
  padding: 10px 30px;
}
#contact-me-heading{
  text-align: center;
}
.contact-section-outer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-media-icons-container{
  margin-top: 50px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-icon{
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-contct-details-container{
  margin-top: 15px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tel {
  height: 40px;
  width: 40%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
 
  border: 1px solid black;
}
.tel>a:hover{
  background-color: white;
  color: black;
}
.tel>a{
  width: 100%;
  height: 38px;
  border-radius: 7px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}

.email-contact-container{
  margin-top: 15px;
  height: 40px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.email-contact-container>a{
  width: 100%;
  height: 39px;
  border-radius: 7px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;

}

.email-contact-container>a:hover{
  background-color: white;
  color: black;
}
.message-icon>a>i {
  font-size: 36px;
  color: black;
}
.message-icon>a>i:hover{
  color: green;
}

/* ------------------------------------------ */